// Configuracion para todas las páginas
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',
        sans-serif;
    background: #8360c3;
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
    background: linear-gradient(to right, #2ebf91, #8360c3);
}

/*animación*/
iframe,
form {
    animation-name: animar;
    @each $var, $propi in $animaciones {
        animation#{$var}:$propi;
    }
}

@keyframes animar {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* MOBILE FIRST */
/*HEADER DE LAS PÁGINAS*/
/*transiciones*/
header {
    font-weight: 600;
    a {
        &:hover {
            @include transicionUno (1.1, .2s);
        }
    }

    h1{
        font-weight: 900;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    img {
        &:hover {
            @include transicionUno (1.2, .3s);
        }
    }
}

/* FOOTER DE LAS PÁGINAS */

/*transiciones*/
footer {
    opacity: .75;
    font-weight: 600;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    img {
        &:hover {
            @include transicionUno (1.2, .3s);
        }
    }

    section {
        ul {
            .pie {
                &:hover {
                    @include transicionUno (1.2, 0.3s);
                }
            }
        }
    }

    @media screen and (min-width: $resolucion) {
        #footersectionDos {
            div {
                section {
                    width: 70%;
                    div {
                        text-align: center;
                        width: 50%;
                    }
                }
            }
        }
    }
}