
/* CONTENIDO PRINCIPAL DE INDEX.HTML */

        /* configurando slider */
#imagenesSlider {
    img{
        height: 60vh;
        object-fit: cover;
    }

    #imgUno{
        object-fit: unset;
    }

    #imgCuatro{
        object-position: left;
    }

    h5{
        font-size: $mediaUno*1.2;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(145, 255, 222);
    }

         @media screen and (min-width: $resolucion){         
            img{
                object-fit: unset;
            }
         }
}

        /* ajustando video, imágenes y h2 */
#segundoSection {
    h2{
        font-family: $fuenteh2;
        font-size: $mediaUno;
        text-align: center;
        color: $colorTitulo;
    }
    a{
        text-decoration: none;
        color: black;
    }

    iframe, p{
        border-radius: 10%;
        width: 100%;
    }

        @media screen and (min-width: $resolucion){
            iframe, p{
                width: 45%;
            }
            h2{
                font-size: $medidaDos;
            }
        }
}


/* ajustando imagen y texto */
#tercerSection {
    h3{
        @include tipografiah3;
        font-size: $medidaDos/2.5;
    }

    img{
        width: 90%;
        border-radius: 20%;
        margin: auto;
        height: 40vh;
    }
        @media screen and (min-width: $resolucion) {
            img{
                width: 45%;
            }
            div{
                width: 45%;
            }
        }
}
