/* CONTENIDO PRINCIPAL OPINIONES.HTML */

#opimain {
    h2{
        font-family: $fuenteh2;
        font-size: $mediaUno;
        text-align: center;
        color: $colorTitulo;
    }

    h3{
        @include tipografiah3;
        font-size: $medidaDos/2.5;
    }

    #mainopi {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        .opiUno {
            img {
                    width: 100%;
                    height: 15vh;
                    border-radius: 3%;
                    object-fit: cover;
                    object-position: 0% 0%;
                }
        }

        .opiDos {
            img {
                    width: 100%;
                    height: 15vh;
                    border-radius: 5%;
                    object-fit: cover;
                    object-position: 0% 0%;
                }
        }

        .imagenOpiUno {
            grid-column: 1/3;
        }

        .imagenOpiDos {
            grid-column: 1/3;
        }

        .imagenOpiTres {
            grid-column: 1/3;
        }

        .imagenOpiCinco {
            grid-row: 7;
            grid-column: 1/3;
        }

        // animación

        .animacionPrimera {
            animation-name: animandoimagenes;
            @each $var,$propi in $animaciones {
                animation#{$var}: $propi;
            }
        }

        .animacionSegunda {
            animation-name: animandoimagenes2;
            @each $var,$propi in $animaciones {
                animation#{$var}: $propi;
            }
        }

            @keyframes animandoimagenes {
                0% {
                    transform: translateX(-100px);
                }

                100% {
                    transform: translateX(0);
                }
            }

            @keyframes animandoimagenes2 {
                0% {
                    transform: translateX(100px);
                }

                100% {
                    transform: translateX(0);
                }
            }
    }

    form {
        label {
                background-color: rgba(102, 51, 153, 0.473);
                width: 100%;
                margin: auto;
                border-start-start-radius: 30%;
                border-start-end-radius: 30%;
                border-top-left-radius: 20%;
                border-top-right-radius: 20%;
        }

        input {
            width: 100%;
            margin: auto;
        }

        textarea {
            padding: 5px 10px;
            width: 100%;
            height: 100px;
            margin: auto;
        }

        #botonopi {
            width: 100%;
            margin: auto;
        
            button {
                color: #000000;
                &:active {
                    @include transicionUno (1.1, .1s);
                }
                &:nth-child(1) {
                    background-color: rgba(133, 51, 216, 0.692);
                }
        
                &:nth-child(2) {
                    background-color: rgba(51, 216, 166, 0.692);
                }
            }
        }

    }

    @media screen and (min-width: $resolucion) {

        h2 {
            font-size: $medidaDos;
        }

        #mainopi {
            grid-template-columns: 1fr 1fr 1fr;
            .opiUno {
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 3%;
                    object-fit: unset;
                }
            }

            .opiDos {
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 5%;
                    object-fit: unset;
                }
            }

            .imagenOpiUno {
                grid-column: 1/3;
            }

            .imagenOpiDos {
                grid-column: 2/4;
            }

            .imagenOpiTres {
                grid-column: 1/3;
            }

            .imagenOpiCuatro {
                grid-column: 3;
                grid-row: 3;
            }

            .imagenOpiCinco {
                grid-row: 5;
                grid-column: 2/4;
            }

        }

        form {

            label {
                width: 500px;
            }

            input {
                width: 500px;
            }

            textarea {
                padding: 20px;
                width: 500px;
                height: 100px;
            }

            #botonopi {
                width: 500px;
            }
        }
    }   
}
